<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kab.channel66"
    android:versionCode="34"
    android:versionName="2.3" >

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.GET_TASKS" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.VIBRATE" />
    
 

<uses-permission android:name="android.permission.GET_ACCOUNTS" />
<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
 
<!--
  IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
  to match your app's package name + ".permission.C2D_MESSAGE".
-->
<permission android:protectionLevel="signature"
    android:name="com.kab.channel66.permission.C2D_MESSAGE" />
<uses-permission android:name="com.kab.channel66.permission.C2D_MESSAGE" />


    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>

    <application
         android:icon="@drawable/icon"
        android:label="@string/app_name"
         android:name="MyApplication">
         
        <receiver android:name="MyWidgetProvider" >
            <intent-filter >
                <action 
                    android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        
        
         
          <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".VideoView"
            android:configChanges="screenSize|orientation|keyboard|keyboardHidden|navigation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation = "sensor" >
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name=".NativeBackgroundPlayer"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".VideoActivity"
            android:configChanges="orientation|screenSize"
            android:label="Video"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>

        <activity
            android:name=".LoginLayout"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:label="@string/app_name" >
            <intent-filter>

                <!-- <action android:name="android.intent.action.MAIN" /> -->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".StreamListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" 
            android:exported="false">

        </activity>
        <activity
            android:name=".SvivaTovaLogin"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" 
            android:exported="false">

        </activity>
         <activity
            android:name=".PushMessagesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" 
            android:exported="false">

        </activity>
        
         
        
      <!--    <activity-alias
            android:name=".LauncherActivity"
            android:targetActivity="com.apphance.android.LauncherActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>

                <category android:name="android.intent.category.LAUNCHER" >
                </category>
            </intent-filter>
        </activity-alias>
        
        -->
        
        
         <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" 
            android:launchMode="singleTop" 
            >
           <!-- <intent-filter>
                 <action android:name="com.apphance.android.LAUNCH" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>-->
             <intent-filter>
            <action android:name="android.intent.action.MAIN" >
                </action>

                <category android:name="android.intent.category.LAUNCHER" >
                </category>
                </intent-filter>
        </activity>
        
      <service android:name=".NativeBackgroundPlayer"  android:enabled="true"></service>
        <service android:name="com.parse.PushService" />
<receiver android:name="com.parse.ParseBroadcastReceiver">
  <intent-filter>
    <action android:name="android.intent.action.BOOT_COMPLETED" />
    <action android:name="android.intent.action.USER_PRESENT" />
  </intent-filter>
</receiver>
<receiver android:name="com.kab.channel66.ParsePushHandling"
    android:exported="false">
  <intent-filter>
    <action android:name="com.parse.push.intent.RECEIVE" />
    <action android:name="com.parse.push.intent.DELETE" />
    <action android:name="com.parse.push.intent.OPEN" />
    </intent-filter>
</receiver>
<receiver android:name="com.parse.GcmBroadcastReceiver"
    android:permission="com.google.android.c2dm.permission.SEND">
  <intent-filter>
    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
 
    <!--
      IMPORTANT: Change "com.parse.starter" to match your app's package name.
    -->
    <category android:name="com.kab.channel66" />
  </intent-filter>
</receiver>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7e57fed40952c3cf6bb7a31f3fb649bf967223a7" />
    </application>

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

   <!-- <instrumentation
        android:name="com.apphance.android.ApphanceInstrumentation"
        android:targetPackage="com.kab.svivatova" >
    </instrumentation>
 --> 
</manifest>